@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 210, 146, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 46;
}

body {
  color: rgb(var(--foreground-rgb)) !important;
  background: rgb(var(--background-end-rgb)) !important;
}

.radix-themes {
  color: rgb(var(--foreground-rgb)) !important;
}
